.All_Category {
    width: 94%;
    margin: 3rem auto;
    position: relative;
    top: 7rem;
    /* left: 2rem; */
    color: #002f34;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}


.categories ul li {
    display: inline-grid;
    /* border: 1px solid; */
    height: 27vh;
    width: 11%;
    padding: 10px;
    /* margin-left: 7px; */
    text-align: center;
}

.categories ul li img {
    width: 75%;
    margin: 0px auto;
}

.categories ul li span {
    font-weight: bold;
    font-size: 16px;
}