* {
  text-decoration: none !important;
  font-family: Roboto, Helvetica, sans-serif;
}


body {
  height: 200vh;
  scroll-behavior: smooth;
}

.gotoTop {
  position: fixed;
  top: 8rem;
  left: 40rem;
  padding: 9px;
  border: 0.5px solid;
  border-radius: 30px;
  z-index: 1;
  font-size: 17px;
  width: 12%;
  font-weight: bold;
  text-align: center;
  display: none;
  background: white;
  align-items: center;
  justify-content: center;
}

.gotoTop:hover {
  border: 3px solid black;
}

.gotoTop .UpIcon {
  font-size: 25px;
  position: relative;
  top: -2px;
  left: -5px;
}

.gotoTop a {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  color: black;
}